<link rel="stylesheet" href="./header.css">
<header class="main-header">
  <div class="logo-container">
    <a routerLink="/">
      <img src="logo-bola.png" alt="Logo" class="logo-img">
    </a>
</div>

  <nav class="nav-menu">
    <ul>
      <li>
        <span class="arrow">v</span> 
        <a routerLink="/que-ofrecemos" style="text-decoration: none; color: inherit; cursor: pointer;">¿QUÉ OFRECEMOS?</a>
      </li>
      <li class="nav-menu-item">
        <span class="arrow">v</span> 
        <a routerLink="/valoraciones" style="text-decoration: none; color: inherit; cursor: pointer;">VALORACIONES</a>
      </li>
    </ul>
  </nav>

  <div class="user-actions">
    <div class="join-btn" (click)="onBotonUneteClick()" style="cursor: pointer;">
      ÚNETE
    </div>
  </div>
</header>